version: "3.9"
 
services:

  frontend:

    build: ./frontend

    ports:

      - "8080:80"

    networks:

      - cloud-network
 
  backend:

    build: ./backend

    ports:

      - "8081:80"

    networks:

      - cloud-network
 
  db:

    image: mcr.microsoft.com/azure-sql-edge

    container_name: cloud-db

    environment:

      SA_PASSWORD: "StrongPassword123!"

      ACCEPT_EULA: "Y"

    ports:

      - "1433:1433"

    networks:

      - cloud-network
 
networks:

  cloud-network:

    driver: bridge
 